.favorites-recipes-btn-category-container {
  display: flex;
  flex-flow: row wrap;
  height: 130px;
  justify-content: space-around;
  margin-left: 10px;
  padding: 5px;
  width: 360px;
}

.favorites-recipes-btn-category {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.favorites-recipes-card-container {
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  font-size: 15px;
  margin-bottom: 10px;
  width: 345px;
  height: 145px;
  background: #FFFFFF;
  border: 0.517989px solid #B1B1B1;
  border-radius: 5px;
  margin-left: 5px;
}

.favorites-recipes-img-container {
  border-radius: 5px;
  margin-right: 5px;
  width: 185px;
  height: 145px;
}

.favorites-recipes-infos-container {
  border-radius: 5px;
  color: black;
  display: flex;
  flex-flow: row wrap;
  font-size: 15px;
  text-decoration: none;
  width: 150px;
  height: 145px;
}

.favorites-recipe-name {
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 12px;
  color: #1A1B1C;
}

.favorites-recipe-category {
  font-style: normal;
  font-weight: 300;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 15px;
  line-height: 9px;
  text-align: center;
  color: #797D86;
}

.favorites-recipe-btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
