@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;500&display=swap');

.profile-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Epilogue', sans-serif;
}

.profile-main button {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  left: 30px;
  color: #797D86;
}

.profile-main hr {
  background-color: black;
  border: 0.5px solid black;
  border-top: 0;
  width: 100%;
}

.profile-main h2 {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 50px;
}

.profile-main img {
  margin-right: 15px;
  margin-left: 15px;
}

.profile-buttons {
  width: 80%;
}
