/* stylelint-disable order/properties-alphabetical-order */
.header-detail-container {
  height: 162px;
  margin-bottom: 25px;
  width: 100%;
}

.header-detail-recipe-img {
  height: 162px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header-detail-title {
  position: absolute;
  width: 147px;
  height: 21px;
  left: 109.01px;
  top: 81px;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.105em;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 2;
}

.header-detail-alcoholic {
  position: absolute;
  width: 136px;
  height: 11px;
  left: 63px;
  top: 45px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  z-index: 2;
  color: #FCC436;
}

.header-detail-recipe-category {
  position: absolute;
  width: 136px;
  height: 11px;
  left: 63px;
  top: 25px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  z-index: 2;
  color: #FCC436;
}

.header-detail-image-category {
  position: absolute;
  left: 3.01%;
  right: 89.1%;
  top: 1.86%;
  bottom: 96.55%;
  z-index: 2;
}

.header-detail-btn-share {
  position: absolute;
  right: 80px;
  top: 1.75%;
  bottom: 96.5%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.header-detail-btn-favorite {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  height: 20.3px;
  right: 50px;
  position: absolute;
  top: 1.80%;
  width: 24.89px;
  z-index: 2;
}

.recipe-in-progress-ingredients-title {
  margin-left: 15px;
  width: 142.8px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 20px;
  color: #1A1B1C;
}

.recipe-in-progress-container-ingredients {
  background: #FFFFFF;
  border: 0.554397px solid #B1B1B1;
  border-radius: 5.35144px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  box-sizing: border-box;
  width: 325px;
}

.recipe-in-progress-checkbox-ingredients {
  margin: 10px;
  all: unset;
  display: inline-block;
  border: dashed 1px #CCC;
  width: 20px;
  height: 20px;
  background: #EEE;
  cursor: pointer;
}

.recipe-in-progress-checkbox-ingredients:checked {
  background: #FCC436;
}

.recipe-in-progress-checkbox-ingredients:checked::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: calc(50% - 6px);
  top: calc(50% - 6px);
  border-radius: 50%;
}

.recipe-in-progress-instructions-title {
  width: 142.8px;
  margin-left: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #1A1B1C;
  margin-bottom: 10px;
  margin-top: 10px;
}

.recipe-in-progres-instructions {
  width: 320px;
  margin-left: 5px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #1A1B1C;
  background: #FFFFFF;
  border: 0.554397px solid #B1B1B1;
  border-radius: 5.35144px;
  padding: 10px;
  Weight: 400;
  Size: 14px;
  line-height: 15.82px;
}

.recipe-in-progress-instructions-video-title {
  width: 142.8px;
  height: 21px;
  margin-top: 10px;
  margin-left: 15px;
  top: 882px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #1A1B1C;
}

.recipe-in-progress-instructions-video {
  width: 326px;
  height: 205.09px;
  margin-left: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
  border-radius: 0;
}

.recipe-in-progress-btn {
  margin-left: 15px;
  width: 336px;
  height: 40px;
  background: #FCC436;
  border: none;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.recipe-in-progress-btn:disabled {
  margin-left: 15px;
  width: 336px;
  height: 40px;
  background: #e9c057d4;
  border: none;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
