.recipes-main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 60px;
}

.recipe-card {
  border: 1px solid #B1B1B1;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-decoration: none;
  color: #1A1B1C;
  column-gap: 10px;
  border-radius: 10px;
  max-height: 180px;
}

.recipe-card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.recipe-card p {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  overflow-x: scroll;
}
